<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="GBK">
    <title>投注页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="source/plugin/summer_lottery/template/style.css" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div>
    <div>
        <img src="source/plugin/xy_fifa/uploads/$gameinfo['jia_img'].jpg" style="width: 50px;height: 50px;"/>
        <span>$gameinfo['jia_name']</span>
        <span style="color: red;">VS</span>
        <span>$gameinfo['yi_name']</span>
        <img src="source/plugin/xy_fifa/uploads/$gameinfo['yi_img'].jpg" style="width: 50px;height: 50px;"/>
        <span>
                <!--{eval echo date("m-d H:i",$gameinfo['start_time'])}-->
        </span>
    </div>
    <!--{if $gameinfo['start_time']>time()}-->
    <div class="tou">
        <div class="bifen">
            <span>奖池:{$count_int}分</span><span>已投注:$my_bifen_times/$max_bifen_times</span><span>单注:{$gameinfo['bf_integral']}分</span>
            $gameinfo['jia_name']:
            <select id="cai_jia">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            $gameinfo['yi_name']:
            <select id="cai_yi">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
            </select>
            <input type="button" id="tou_bifen" value="投注"/>
        </div>
        <div class="spf">
            选择：<span>已投注:$my_spf_times/$max_bifen_times</span><span>单注:{$gameinfo['spf_integral']}分</span>
            <select id="cai_spf">
                <option value="1">$gameinfo['jia_name']胜</option>
                <option value="2">平局</option>
                <option value="3">$gameinfo['yi_name']胜</option>
            </select>
            <input type="button" id="tou_spf" value="投注"/>
        </div>
    </div>
    <!--{/if}-->
    <div class="new_tou_bifen">
        比分投注：
        <!--{loop $bifen_lists $val}-->
        <div>
            <span>$val['u_nickname']</span>
            -----
            <sapn>
                <!--{eval echo date("m-d H:i",$val['cai_time'])}-->
            </sapn>
            ---
            <span>
                $val['cai_jia']:$val['cai_yi']
            </span>
        </div>
        <!--{/loop}-->
    </div>
    <div class="new_tou_spf">
        胜平负投注：
        <!--{loop $spf_lists $val}-->
        <div>
            <span>$val['u_nickname']</span>
            -----
            <sapn>
                <!--{eval echo date("m-d H:i",$val['cai_time'])}-->
            </sapn>
            ---
            <span>
                <!--{if $val['cai_spf']==1}-->
                $gameinfo['jia_name']胜
                <!--{/if}-->
                <!--{if $val['cai_spf']==2}-->
                平局
                <!--{/if}-->
                <!--{if $val['cai_spf']==3}-->
                $gameinfo['yi_name']胜
                <!--{/if}-->
            </span>
        </div>
        <!--{/loop}-->
    </div>
</div>
<script>
    $(function(){
        $("#tou_bifen").on("click",function(){
            if(confirm("确定你的选择?")){
                var cai_jia = $("#cai_jia").val();
                var cai_yi = $("#cai_yi").val();
                $.post("plugin.php?id=xy_fifa",{"ajax":"tou_bifen","cai_jia":cai_jia,"cai_yi":cai_yi,"action_id":$gameinfo['id'],"u_id":$u_id},function(res){
                    if(res.status==200){
                        alert("投注成功");
                    }else{
                        alert(res.msg);
                    }
                },"json");
            }
        })
        $("#tou_spf").on("click",function(){
            if(confirm("确定你的选择?")){
                var cai_spf = $("#cai_spf").val();
                $.post("plugin.php?id=xy_fifa",{"ajax":"tou_spf","cai_spf":cai_spf,"action_id":$gameinfo['id'],"u_id":$u_id},function(res){
                    if(res.status==200){
                        alert("投注成功");
                    }else{
                        alert(res.msg);
                    }
                },"json");
            }
        })
    })
</script>
</body>
</html>