<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="GBK">
    <title>我的投注</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入 Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="source/plugin/summer_lottery/template/style.css" />
    <script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
比分
<div class="bifen">
    <!--{loop $my_lists['bifen'] $val}-->
    <div>
        <img src="source/plugin/xy_fifa/uploads/$val['game_info']['jia_img'].jpg" style="width: 50px;height: 50px;">
        {$val['game_info']['jia_name']}-------{$val['game_info']['yi_name']}
        <img src="source/plugin/xy_fifa/uploads/$val['game_info']['yi_img'].jpg" style="width: 50px;height: 50px;">
        <div>我的投注:{$val['cai_jia']}:{$val['cai_yi']}-----消耗:{$val['game_info']['bf_integral']}分</div>
    </div>
    <!--{/loop}-->
</div>
胜平负
<div class="spf">
    <!--{loop $my_lists['spf'] $val}-->
    <div>
        <img src="source/plugin/xy_fifa/uploads/$val['game_info']['jia_img'].jpg" style="width: 50px;height: 50px;">
        {$val['game_info']['jia_name']}-------{$val['game_info']['yi_name']}
        <img src="source/plugin/xy_fifa/uploads/$val['game_info']['yi_img'].jpg" style="width: 50px;height: 50px;">
        <div>我的投注:
            <!--{if $val['cai_spf']==1}-->
            {$val['game_info']['jia_name']}胜利
            <!--{/if}-->
            <!--{if $val['cai_spf']==2}-->
            平局
            <!--{/if}-->
            <!--{if $val['cai_spf']==3}-->
            {$val['game_info']['yi_name']}胜利
            <!--{/if}-->
            -----消耗:{$val['game_info']['spf_integral']}分</div>
    </div>
    <!--{/loop}-->
</div>
</body>
</html>