<!DOCTYPE html>
<html>

	<head>
		<meta charset="GBK">
		<title>世界杯竞猜</title>
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
		<!-- 新 Bootstrap 核心 CSS 文件 -->
		<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

		<link rel="stylesheet" href="source/plugin/xy_fifa/template/css/style.css" />

		<!-- HTML5 Shiv 和 Respond.js 用于让 IE8 支持 HTML5元素和媒体查询 -->
		<!-- 注意： 如果通过 file://  引入 Respond.js 文件，则该文件无法起效果 -->
		<!--[if lt IE 9]>
         <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
         <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
	</head>

	<body>

		<div class="container">
			<!--主题-->
			<div class="banner">
				<img src="source/plugin/xy_fifa/template/images/banner.jpg" />
				<div class="gz" data-toggle="modal" data-target="#myModal" onclick="return false;">
					活动规则<span class="glyphicon glyphicon-question-sign"></span>
				</div>
				<!-- 活动规则弹出层 -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content bg">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
								<h4 class="modal-title" id="myModalLabel">
					活动规则
				</h4>
							</div>
							<div class="modal-body">
								<h5>关于投注</h5>
								<p>
									1、比赛开始前所有用户均可使用厢遇积分投注<br /> 2、每场比赛独立下注，分为猜胜负和猜比分两种方式
									<br /> 3、每场比赛每人同一模式最多投5注
								</p>
								<h5>关于颁奖</h5>
								<p style="color: red;">比赛结束后，需等待系统录入结果后分发奖励，请耐心等候！</p>
								<p>1、猜胜负：厢遇官方坐庄，获得奖励为用户下注积分数<br /> 2、猜比分：厢遇官方根据当场比赛情况设置基础奖池，用户投注积分统一进入奖池，中奖用户获得奖励=当场奖池总量/当场猜中用户数
									<br /> 3、特殊奖：世界杯结束，用户连续猜中场次排行，厢遇官方颁发特殊奖
									<br /> 4、用户中奖后在个人中奖记录中领取，积分直接进入个人账户
								</p>
								<h5>注意</h5>
								<p>1、用户一旦下注不可更改，积分不退还<br /> 2、该活动仅供娱乐，不涉及赌博
									<br /> 3、活动所有解释权归厢遇工作室所有
								</p>
							</div>
						</div>
						<!-- /.modal-content -->
					</div>
					<!-- /.modal -->
				</div>
				<!-- 活动规则弹出层完 -->
			</div>

			<!--投注切换-->
			<ul id="myTab" class="nav nav-tabs">
				<li class="active">
					<a href="#home" data-toggle="tab">可投注</a>
				</li>
				<li>
					<a href="#ios" data-toggle="tab">已结束</a>
				</li>

			</ul>
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="home">
					<!--{loop $ke_tou $val}-->
					<a class="team-list" href="plugin.php?id=xy_fifa&page_to=fifa_info&game_id=$val[id]">
						<div class="ce-contry">
							<div class="team" style="background: url(source/plugin/xy_fifa/uploads/$val['jia_img'].jpg) center center / contain no-repeat; border: 1px solid transparent;"></div>
							<span>$val['jia_name']</span>
						</div>
						<div class="center">
							<em>VS</em>
							<span>
								<!--{eval echo date("m-d H:i",$val['start_time'])}-->
							</span>
						</div>
						<div class="ce-contry">
							<div class="team" style="background: url(source/plugin/xy_fifa/uploads/$val['yi_img'].jpg) center center / contain no-repeat; border: 1px solid transparent;"></div>
							<span>$val['yi_name']</span>
						</div>
					</a>
					<!--{/loop}-->
				</div>
				<div class="tab-pane fade" id="ios">
					<!--{loop $no_tou $val}-->
					<div class="team-list" onclick="javascript:location.href='plugin.php?id=xy_fifa&page_to=fifa_info&game_id=$val[id]'">
						<div class="ce-contry">
							<div class="team" style="background: url(source/plugin/xy_fifa/uploads/$val['jia_img'].jpg) center center / contain no-repeat; border: 1px solid transparent;"></div>
							<span>$val['jia_name']</span>
						</div>
						<div class="center">
							<em>VS</em>
							<span>不可投注
								<!--{if $val['is_end']!=0}-->
								,比分{$val['jia_fen']}:{$val['yi_fen']}
								<!--{/if}-->
							</span>
						</div>
						<div class="ce-contry">
							<div class="team" style="background: url(source/plugin/xy_fifa/uploads/$val['yi_img'].jpg) center center / contain no-repeat; border: 1px solid transparent;"></div>
							<span>$val['yi_name']</span>
						</div>
					</div>
					<!--{/loop}-->
				</div>
			</div>
			<div style="height: 61px; width: 100%;"></div>
		</div>
		
		<!--底部导航-->
		<div class="bottom">
			<a class="select" href="plugin.php?id=xy_fifa&page_to=fifa_home"><span class="glyphicon glyphicon-home"></span>首页</a>
			<a href="plugin.php?id=xy_fifa&page_to=my_tou"><span class="glyphicon glyphicon-screenshot"></span>我的投注</a>
			<a href="plugin.php?id=xy_fifa&page_to=my_luck"><span class="glyphicon glyphicon-lock"></span>我的中奖</a>
		</div>
		
		<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
		<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>

		<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
		<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>

</html>